/* * {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
  } */
  
.pokemondetails-wrapper{
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin: 8px auto;
}

.pokemontypes-wrapper{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 4px;
}

div > span{
    border: 1px solid rgb(164, 158, 158);
    background-color: gainsboro;
    padding: 8px;
    border-radius: 4px;
    font-size: larger;
    cursor: pointer;
}

